html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
}

main {
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

.btn-lg {
  margin: 20px 0px;
}

#city-input, #weather-output {
  width: 100%;
  margin: 0 auto;
}

.banner {
  color: #ffd23F;
  font-family: sans-serif;
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 400px;
  }
  #city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
  }
}
  